html {
    display: contents;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #002147;
    margin: -1% -1% 1% -1%;
    text-align: center;
    height: 45px;
}

nav {
    display: inline-block;
    margin: 0% -1% 0% -1%;
    padding: 10px;
}

ul li {
    list-style-type: none;
    display: inline;
}

ul a {
    text-decoration: none;
    color: #d0d6dd;
    padding: 5px;
    text-align: center;
    width: 100%;
}

a:hover,
.menuList a:hover {
    text-decoration: underline;
    color: #fcb900;
}

.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    from {
        color: white;
    }

    to {
        color: transparent;
    }
}

.blink1 {
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        color: yellow;
    }

    to {
        color: transparent;
    }
}

.header_row1 {
    padding: 15px 0;
}

img {
    width: 15px;
}

.contact_no,
.social img {
    color: #444444;
}

.social,
.contact_header {
    display: inline;
    margin: 0;
    padding: 5px;
}

.social_header,
.menuList {
    float: right;
    margin: 0;
}

.facebook,
.twitter,
.linkedin,
.youtube {
    padding: 2px;
}

.navbar_content {
    margin: 0 37px;
}

.universityLogo img {
    display: inline;
    width: 10%;
    width: 200px !important;
    padding: 0;
    margin: 0 !important;
}

/* .menuList {
    display: inline;
    width: 85%;
} */

#universityLogo {
    display: inline-block;
    width: 200px !important;
    padding: 0;
    margin: 0;
}

.universityLogo ul {
    display: inline;
    margin: 0;
    padding: 0;
}

/* .main_menu {
    margin: 0;
    padding: 33px 15px;
} */
/* .main_menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #fff;
    position: relative;
} */

.main_menu img {
    padding: 0;
}

/* ul.menuList a,  */
.menuList a {
    color: #002147 !important;
    font-weight: 500;
    float: rigth;
    padding: 33px 15px;
    font-weight: bold;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider_container {
    display: flex;
    width: calc(1519px * 3);
    animation: scroll 40s linear infinite;
    animation-delay: 10s;
}

.slider_image {
    display: inline-block;
    position: absolute;
}

/* .slider_nav {
    width: 0.5px;
    animation: scroll 40s linear infinite;
    color: black;
} */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.our_ranking {
    margin: -1% 0;
    text-align: center;
    width: 1140px;
    padding: 0px 174.4px 0px 174.6px;
    position: relative;
    /* left: 45px; */
    background: #eaeaea;
    padding-top: 50px;
}

.partner {
    display: flex;
    overflow: hidden;
    position: relative;
}

.our_ranking div.partner1 {
    display: flex;
    margin: -1px;
    animation: scroll1 10s linear infinite;
    width: 270px !important;
    height: 130px !important;
    padding: 15px;
    animation-iteration-count: infinite;
}

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.our_ranking img {
    width: 270px;
    height: 130px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 81px;
    margin: 0px -15px 0px 180px;
}

.tag h3 {
    background-color: #002147;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 535px;
    height: 26px;
}

section#aboutSection {
    display: inline-block;
    width: 1172px;
    height: 479.6px;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

/* .about_section,
.university_section {
    width: 1172px;
    height: 479.600px;
    text-align: center;
} */

.aboutUs {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 13%;
    padding-top: 33px;
}

.about_us,
.mission,
.vision,
.organogram {
    display: inline-block;
    width: 261px;
    height: 150px;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

/* .mission img,
.organogram img {
    padding-top: 10px;
} */

.univesity {
    width: 554px;
    height: 320px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}

.about_mission,
.vision_organogram {
    display: inline-block;
    padding: 0 15px 0;
    width: 261px;
    height: 320px;

}



/* .about_section,
.mission_section,
.university_section {
    margin-bottom: 10px;
} */

.about_img img,
.mission_img img,
.vision_img img,
.organogram_img img {
    display: inline-block;
    transition: 1s all ease-in-out;
    z-index: 10;
    filter: brightness(50%);
    border-radius: 10px;
    width: 261px;
    height: 150px;
}

/* .university_section img {
    width: 554px;
    height: 343px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
} */

.university_img img {
    display: inline-block;
    transition: 1s all ease-in-out;
    z-index: 10;
    width: 554px;
    height: 320px;
    overflow: hidden;
    filter: brightness(50%);
}

.about_us img:hover,
.mission_img img:hover,
.university_img img:hover,
.vision_img img:hover,
.organogram_img img:hover {
    transform: scale(1.2);
}

.about_img_text,
.mission_img_text,
.university_img_text,
.vision_img_text,
.organogram_img_text {
    display: flexbox;
    position: absolute;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    width: 554px;
    height: 26px;
}

.university_subtitle {
    font-size: 15px;
    line-height: 1.5;
}

/* #university_info {
    width: 554px;
    height: 342.6px;
} */

.vcs_desk {
    position: relative;
    width: 1200px;
    height: 685.8px;
    padding: 0 174px;
    left: 23px;
    right: 174px;
    margin: 0 -15px;
}

.vc_desk {
    display: inline-block;
    width: 585px;
    height: 608px;
}

.vc_text {
    width: 585px;
    font-size: 28px;
}

.vc_img {
    width: 585px;
}

.vc_img img {
    width: 292px;
    height: 300px;
    padding: 6px;
    border: 1px solid #f7be68;
    text-align: center;
    margin-left: 107px;
}

.prof_name {
    width: 585px;
}

span {
    font-size: 28px;
    color: #ff9900;
}

h3 {
    width: 585px;
    font-size: 20px;
}

.read_more {
    width: 585px;
    color: red;
    text-decoration: none;
}

.read_more:hover {
    color: #fdc800;
    text-decoration: none;
}

.notifications {
    display: inline-block;
    width: 585px;
    height: 690.400 !important;
    position: absolute;
}

.notifications h2 {
    width: 585px;
    font-size: 28px;
}

.notification_text {
    background-color: #002147;
    width: 585px;
    height: 585px;
    border-radius: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.notification_text ul {
    display: block;
    color: white;
    list-style-type: disc !important;
    width: 555px;
    height: 500px;
    position: relative;
    animation: scrollDown 20s ease-in-out infinite;
}

.notification_text ul:hover {
    animation-play-state: paused;
}

@keyframes scrollDown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}