html {
    display: contents;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #002147;
    margin: -1% -1% 1% -1%;
    text-align: center;
    height: 45px;
}

nav {
    display: inline-block;
    margin: 0% -1% 0% -1%;
    padding: 10px;
}

ul li {
    list-style-type: none;
    display: inline;
}

ul a {
    text-decoration: none;
    color: #d0d6dd;
    padding: 5px;
    text-align: center;
    width: 100%;
}

a:hover {
    text-decoration: underline;
    color: #fcb900;
}

.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    from {
        color: white;
    }

    to {
        color: transparent;
    }
}

.blink1 {
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        color: yellow;
    }

    to {
        color: transparent;
    }
}

.header_row1 {
    padding: 15px 0;
}

img {
    width: 15px;
}

.contact_no,
.social img {
    color: #444444;
}

.social,
.contact_header {
    display: inline;
    margin: 0;
    padding: 5px;
}

.social_header,
.menuList {
    float: right;
    margin: 0;
}

.facebook,
.twitter,
.linkedin,
.youtube {
    padding: 2px;
}

.navbar_content {
    margin: 0 37px;
}

.universityLogo img {
    display: inline;
    width: 10%;
    width: 200px !important;
    padding: 0;
    margin: 0 !important;
}

/* .menuList {
    display: inline;
    width: 85%;
} */

#universityLogo {
    display: inline-block;
    width: 200px !important;
    padding: 0;
    margin: 0;
}

.universityLogo ul {
    display: inline;
    margin: 0;
    padding: 0;
}

/* .main_menu {
    margin: 0;
    padding: 33px 15px;
} */

.main_menu img {
    padding: 0;
}

/* ul.menuList a,  */
.menuList a {
    color: #002147 !important;
    font-weight: 500;
    float: rigth;
    padding: 33px 15px;
    font-weight: bold;
    position: relative;
}

.menuList a:hover {
    animation-name: color;
    animation-duration: 1s;
    color: #fcb900;
    text-decoration: none;
}

@keyframes color {
    from {
        color: #002147;
    }

    to {
        color: #fcb900;
    }
}

.main_content {
    margin: -1px;
}

.content img {
    width: 1519px;
    margin: 0;
    padding: 0;
    height: 625px;
    image-orientation: from-image;
    background-size: cover;
}

.our_ranking {
    text-align: center;
}